
body{
    height: 1100px;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(255, 229, 190);
    width: 100%;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

#nav ul{
    position: fixed;left: 150px;
    margin-top: 25px;
    list-style-type: none;
    background-color: rgba(107, 12, 12, 0.863);
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 2px 4px 10px black;
    width: 1000px;
    z-index: 1;
}

#nav li{
    color: white;
    text-align: center;
    display: block;
    padding: 30px;
    font-weight: bolder;
    font-size: 1.2em;
    float: left;
    user-select: none;
}

#nav li:hover{
    background-color: rgb(184, 51, 51);
    border-radius: 40px;
    transition: ease-in-out;
    cursor: pointer;
}
#nav li:active{
    background-color: rgb(136, 23, 23);
    transition: ease-in-out;
    cursor: pointer;
}

#burger{
    position: absolute;left: 500px;
    margin-top: 13px;
    height: 50px;
    width: 50px;
    user-select: none;
}

#setting{
    position: absolute;left: 950px;
    height: 65px;
    width: 65px;
    margin-top: 7.5px;
    cursor: pointer;
    border-radius: 40px;
    padding: 1px;
    user-select: none;
}

#setting:hover{
    background-color: rgb(194, 194, 194);
    transition: ease;
}

#setting:active{
    transform: scale(1.1);
    transition: ease-in-out;
}

#l7awi1{
    position: fixed;top: 130px;left: 1050px;
    height: 150px;
    width: 150px;
    border: 2px solid rgb(163, 141, 141);
    background-color: rgba(107, 12, 12, 0.822);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 7px black;
    z-index: 1;
}

#l7awi1.animation{
    animation-name: bogi;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes bogi {
    0% , 5% { transform: translateX(20px); }
    5% , 15% { transform: translateX(-2px); }
    15% , 30% { transform: translateX(20px); }
    30% , 45% { transform: translateX(-2px); }
    45% , 60% { transform: translateX(20px); }
    60% , 75% { transform: translateX(-2px); }
    75% , 90% { transform: translateX(20px); }
    90% , 100% { transform: translateX(0px); }
}

#drimg{
    margin-top: -10px;
    height: 32px;
    width: 32px;
    background-color: wheat;
    border-radius: 30px;
}

#l7awi1 p{
    display: flex;
    justify-content: center;
    display: flex;
    padding: 16px;
    margin: 0px;
    cursor: pointer;
    color: white;
    gap: 10px;
    height: 17px;
    user-select: none;
}

#l7awi1 p:hover{
    background-color: rgb(184, 51, 51);
    cursor: pointer;
}

#l7awi1 p:active{
    background-color: rgb(121, 9, 9);
    cursor: pointer;
}

#l7awi1 hr{
    margin: 0px;
    border: none;
    height: 1.5px;
    background-color: rgb(163, 141, 141);
}

#worning{
    position: fixed;top: 280px;left: 1000px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    z-index: 3;
    padding: 10px;
    border: 1px solid rgb(235, 233, 233);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.582);
}

#fastfood{
    position: absolute;top: 150px;left: 600px;
    height: 150px;
    width: 150px;
    box-shadow: 0px 10px 10px  black, 2px -2px 10px rgb(0, 0, 0);
    padding: 10px;
    background-color: rgba(255, 145, 0, 0.822);
    border-radius: 50%;
    user-select: none;
}

#text1{
    position: absolute;top: 150px;left: 600px;
    font-size: 3em;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 0, 0);
    user-select: none;
}

#text2{
    position: absolute;top: 235px;left: 630px;
    font-size: 3em;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 0);
    user-select: none;
}

#brbut{
    position: absolute;top: 210px;left: 200px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-weight: bolder;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(63, 61, 61);
    user-select: none;
}

#pzbut{
    position: absolute;top: 210px;left: 400px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-weight: bolder;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(63, 61, 61);
    user-select: none;
}

#tcbut{
    position: absolute;top: 210px;left: 820px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-weight: bolder;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(63, 61, 61);
    
}

#bobut{
    position: absolute;top: 210px;left: 1020px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-weight: bolder;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(63, 61, 61);
}
#brbut:hover,#pzbut:hover,#tcbut:hover,#bobut:hover{
    background-color: rgb(184, 51, 51);
    cursor: pointer;
}

.bgcolor{
    background-color: brown !important;
}

#burger1{
    position: absolute;top: 350px;left: 180px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
#burger2{
    position: absolute;top: 450px;left: 180px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
#burger3{
    position: absolute;top: 550px;left: 180px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
#burger4{
    position: absolute;top: 650px;left: 180px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

span{
    color: rgb(255, 166, 0);
}

#kht1{
    color: rgb(43, 42, 42);
}
#kht2{
    color: rgb(43, 42, 42);
}
#kht3{
    color: rgb(43, 42, 42);
}
#kht4{
    color: rgb(43, 42, 42);
}

#elp{
    position: absolute;top: 350px;left: 300px;
    color: rgb(43, 42, 42);
}
#elp2{
    position: absolute;top: 450px;left: 300px;
    color: rgb(43, 42, 42);
}
#elp3{
    position: absolute;top: 550px;left: 300px;
    color: rgb(43, 42, 42);
}
#elp4{
    position: absolute;top: 650px;left: 300px;
    color: rgb(43, 42, 42);
}

#corpo{
    position: absolute;top: 35px;left: 600px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 221, 221);
}

#textt{
    position: absolute;top: 140px;left: 565px;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(241, 221, 221);
}

#footer{
    position: absolute;top: 780px;
    height: 320px;
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;

}

#you{
    position: absolute;top: 70px; left: 100px;
    height: 30px;
    width: 40px;
}
#face{
    position: absolute;top: 70px; left: 160px;
    height: 30px;
    width: 30px;
}
#insta{
    position: absolute;top: 70px; left: 210px;
    height: 30px;
    width: 30px;
}

#followus{
    color: white;
    position: absolute;top: 20px; left: 102px;
    font-size: 1em;

}

#lkht{
    position: absolute;top: 130px;left: 100px;
    height: 1px;
    width: 1100px;
    border: none;
    background-color: rgb(179, 177, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#tswira{
    position: absolute;top: 180px;left: 590px;
    height: 100px;
    width: 150px;
}

#piz{
    position: absolute;top: 170px;left: 1250px;
    height: 70px;
    width: 70px;
}
#bur{
    position: absolute;top: 70px;left: 1250px;
    height: 70px;
    width: 70px;
}  

@media (max-width: 600px) {
    body{
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(255, 229, 190);
    width: 100%;
}

    #nav ul{
    position: fixed;left: 0dvw;
    margin: 0;
    list-style-type: none;
    background-color: rgba(107, 12, 12, 0.863);
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 2px 4px 10px black;
    z-index: 1;
    width: 100%;
    height: calc(100% - 91dvh);
    }
    #nav li {
        margin-left: calc(100% - 107dvw);
        font-size: 1em;
    }
    #setting{
        position: absolute;left: calc(100% - 30dvw);top: calc(100% - 8.5dvh);
        height: 55px;
        width: 55px;
        border-radius: 40px;
        user-select: none;
    }
    #setting:hover{
        background-color: transparent;
    }
    #l7awi1{
        position: fixed;left: calc(100% - 70dvw);top: calc(100% - 87dvh);

    }
    #worning{
        position: fixed;left: calc(100% - 85vw);top: calc(100% - 67vh);
    }

    #fastfood{
    position: absolute;top: calc(100% - 85dvh);left: calc(100% - 68dvw);
    height: 100px;
    width: 100px;
} 
    #text1{
    position: absolute;top: calc(100% - 85dvh);left: calc(100% - 70dvw);
    font-size: 2em;
}

    #text2{
    position: absolute;top: calc(100% - 77dvh);left: calc(100% - 60dvw);
    font-size: 2em;
}

    #brbut:hover,
    #pzbut:hover,
    #tcbut:hover,
    #bobut:hover{
    background-color: inherit; 
    cursor: default;
}
    #nav li:hover,
    #nav li:active {
    background-color: inherit; 
    border-radius: 0px;       
    cursor: default;
  }

  #brbut{
    position: absolute;top: calc(100% - 67dvh);left: calc(100% - 90dvw);
    font-size: 0.8em;
    height: 35px;
    width: 130px;
  }
  #tcbut{
    position: absolute;top: calc(100% - 62dvh);left: calc(100% - 90dvw);
    font-size: 0.8em;
    height: 35px;
    width: 130px;
  }
  #pzbut{
    position: absolute;top: calc(100% - 67dvh);left: calc(100% - 45dvw);
    font-size: 0.8em;
    height: 35px;
    width: 130px;
  }
  #bobut{
    position: absolute;top: calc(100% - 62dvh);left: calc(100% - 45dvw);
    font-size: 0.8em;
    height: 35px;
    width: 130px;
  }
  #burger1{
    position: absolute;top: calc(100% - 55dvh);left: calc(100% - 95dvw);
  }
  #burger2{
    position: absolute;top: calc(100% - 40dvh);left: calc(100% - 95dvw);
  }
  #burger3{
    position: absolute;top: calc(100% - 25dvh);left: calc(100% - 95dvw);
  }
  #burger4{
    position: absolute;top: calc(100% - 10dvh);left: calc(100% - 95dvw);
  }

  #kht1,#kht2,#kht3,#kht4{
    display: none;
}
  #elp{
    position: absolute;top: calc(100% - 53dvh);left: calc(100% - 60dvw);
    font-size: 1.4em;
  }
  #elp2{
    position: absolute;top: calc(100% - 38dvh);left: calc(100% - 60dvw);
    font-size: 1.4em;
  }
  #elp3{
    position: absolute;top: calc(100% - 23dvh);left: calc(100% - 60dvw);
    font-size: 1.4em;
  }
  #elp4{
    position: absolute;top: calc(100% - 9dvh);left: calc(100% - 60dvw);
    font-size: 1.4em;
  }
  
 

  #footer{
    position: absolute;top: calc(100% - 0dvh);
    height: calc(100% - 35dvh);
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#you{
    position: absolute;top: 70px; left: 28vw;
    height: 30px;
    width: 40px;
}
#face{
    position: absolute;top: 70px; left: 42vw;
    height: 30px;
    width: 30px;
}
#insta{
    position: absolute;top: 70px; left: 53vw;
    height: 30px;
    width: 30px;
}

#followus{
    color: white;
    position: absolute;top: 20px; left: 35vw;
    font-size: 1em;

}

#lkht{
    position: absolute;top: 14vh;left: 20vw;
    height: 1px;
    width: 50vw;
    border: none;
    background-color: rgb(179, 177, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  #corpo{
    position: absolute;top: 15vh;left: 34vw;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 221, 221);
}

  #tswira{
    position: absolute;top: 22vh;left: 31vw;
    height: 7vh;
    width: 25vw;
    background: none;
}

#piz,#bur,#textt{
    display: none;
}


}